<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style/style.css">
    {% block title -%}
        {% if title %}
            <title>{{title}}</title>
        {% else %}
            <title>Блек-Джек</title>
        {% endif %}
    {% endblock %}
    <title>Title</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="profile">Профиль</a>
        <a href="game">Игра</a>
        <a href="rules">Правила</a>
        <p>Количество очков: {{current_user.money}}</p>
    </div>
    {% block content %}{% endblock %}

</body>
</html>