{% extends 'base.html' %}

{% block content %}

<script src="static/script.js"></script>
<div id="gameState"></div>
<div id="mainGameContainer">
    <div class="dealerCardsContainer" id="dealerCardsContainer"></div>
    <div class="playerCardsContainer" id="playerCardsContainer"></div>
    
</div>
<div class="buttonContainer" id="buttonContainer"></div>
<div id="win-notification" style="display:none; position:fixed; top:50%; left:50%; transform: translate(-50%, -50%); width:300px; height:200px; background-color:black; border:1px solid #444; text-align:center; padding:20px;">
    <h3 id="gameResult"></h3>
    <p id="dealerPoints"></p>
    <p id="playerPoints"></p>
    <p id="incomeAmount"></p>
</div>

</div>
<div id="startButtonsContainer">
    <button  class="btn btn-primary btn-lg" id="startbutton" onclick="startGame()">Начать игру</button>
    <input type="range" value="50" min="10" max="100" step="10" oninput="this.nextElementSibling.value = this.value" class="form-range" id="betAmount">
    <output>50</output>
</div>
{% endblock %}