{% extends 'base.html' %}

{% block content %}

<script src="static/script.js"></script>
<div id="gameState"></div>
<div id="mainGameContainer">
    <div class="dealerCardsContainer" id="dealerCardsContainer"></div>
    <div class="playerCardsContainer" id="playerCardsContainer"></div>
    
</div>
<div class="buttonContainer" id="buttonContainer"></div>
<div id="win-notification" style="display:none; position:fixed; top:50%; left:50%; transform: translate(-50%, -50%); width:300px; height:200px; background-color:black; border:1px solid #444; text-align:center; padding:20px;">
    <h3 id="gameResult"></h3>
    <p id="dealerPoints"></p>
    <p id="playerPoints"></p>
    <p id="incomeAmount"></p>
</div>

</div>
<div id="startButtonsContainer">
    <button  class="btn btn-primary btn-lg" id="startbutton" onclick="startGame()">Начать игру</button>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked value="10" >
        <label class="btn btn-outline-primary" for="btnradio1">10</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="50" >
        <label class="btn btn-outline-primary" for="btnradio2">50</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="100">
        <label class="btn btn-outline-primary" for="btnradio3">100</label>
      </div>
</div>
{% endblock %}