{% extends 'base.html' %}

{% block content %}
<div class="container shadow-lg" id="main">
	<hr>
	<div id ="ppl">
		<h2>Авторизация</h2>
	</div>
	<hr>

	{{ super() }}
	{% for cat, msg in get_flashed_messages(True) %}
		<div class="flash {{cat}}" id="flash">{{msg}}</div>
	{% endfor %}
	<form action="" method="post">
		{{ form.hidden_tag() }}
		{% for field in form if field.name not in ['csrf_token', 'submit'] -%}
			<div class="login_p">
				{% if field.errors %}
					{{ field }}
					<span>
						{% for e in field.errors %}
							{{ e }}
						{% endfor %}
					</span>
				{% else %}
					{{ field() }}
				{% endif %}
			</div>
			<p>
		{% endfor %}
		<div class="enter">
			{{ form.submit() }}
		</div>
		<hr align=left width="28%">
		<div class="login_btm">
			<p><a href="{{url_for('register')}}">Регистрация</a>
		</div>
	</form>
</div>
{% endblock %}