{% extends 'base.html' %}

{% block content %}
<div class="profileContainer">
   <div class="profile-avatar">
      <img src="{{ url_for('get_user_avatar') }}" style="width: 20%; height: 20%">
   </div>
     <form action='{{url_for("upload_user_avatar")}}' method="POST" enctype="multipart/form-data">
         <p><input type="file" name="file">
         <p>(JPG, PNG, png до 3Мб)
         <p><input class="btn btn-outline-primary" type="submit" value="Загрузить">
     </form>
   <p>Имя: {{ current_user.name }}</p>
   <p>Электронная почта: {{ current_user.email }}</p>
   <p id="profileMoneyAmount">Количество очков: {{ current_user.money }}</p>
   <p>Дата регистрации: {{ current_user.created_date }}</p>
   <script>function check_bonus(){
    const url = 'http://127.0.0.1:5000/check_bonus_ready';
    console.log('sending');
    fetch(url)
    .then(response => response.json())
    .then(json => {
        console.log(json);
        document.getElementById("bonusMessage").innerText = JSON.stringify(json['message']);
        if (json['getting']){
            let money = document.getElementById("profileMoneyAmount");
            let new_money_count = Number(money.innerText.split(' ')[money.innerText.split(' ').length - 1]) + 500;
            money.innerText = 'Количество очков: ' + new_money_count;
            document.getElementById("MoneyCount").innerText = Number(document.getElementById("MoneyCount").innerText) + 500;
        }
    })
}

   </script>
   <button class="btn btn-primary btn-lg" onclick="check_bonus()">Получить бонус</button>
   <p id="bonusMessage"></p>
   <form action="/logout" target="_blank">
      <button class="btn btn-primary btn-lg">Выйти из аккаунта</button>
   </form>
</div>
{% endblock %}