{% extends 'base.html' %}

{% block content %}
<div class="rulesContainer">
    <h1>Правила игры</h1>
    <p>Вначале игрок получает две карты «в открытую», сумма очков которых позволяет решить, нужны ему дополнительные карты или нет. Цель игры — набрать 21 очко или близкую к этому сумму. Если игрок набирает сумму очков, превышающую 21, то его ставка проигрывает. Если сумма очков на картах дилера больше, чем 21, то все ставки, оставшиеся в игре, выигрывают. Игроки, набравшие сумму очков большую, чем дилер, выигрывают. Игроки, набравшие сумму очков меньшую, чем дилер, проигрывают. Если сумма очков игрока равна сумме очков дилера, то объявляется «ничья»</p>
</div>
{% endblock %}